# compiled output
makeup-api/dist
makeup-api/node_modules

# Logs
makeup-api/logs
makeup-api/*.log
makeup-api/npm-debug.log*
makeup-api/yarn-debug.log*
makeup-api/yarn-error.log*
makeup-api/lerna-debug.log*

# OS
.DS_Store

# Tests
makeup-api/coverage
makeup-api/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
