# compiled output
makeup-api/dist
makeup-api/node_modules

# Logs
makeup-api/logs
makeup-api/*.log
makeup-api/npm-debug.log*
makeup-api/yarn-debug.log*
makeup-api/yarn-error.log*
makeup-api/lerna-debug.log*

# OS
.DS_Store

# Tests
makeup-api/coverage
makeup-api/.nyc_output

# IDEs and editors
makeup-api/.idea
makeup-api/.project
makeup-api/.classpath
makeup-api/.c9/
makeup-api/*.launch
makeup-api/.settings/
makeup-api/*.sublime-workspace

# IDE - VSCode
makeup-api/.vscode/*
makeup-api/!.vscode/settings.json
makeup-api/!.vscode/tasks.json
makeup-api/!.vscode/launch.json
makeup-api/!.vscode/extensions.json
